In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df=pd.read_csv("Accidents2018to2025.csv")
data = df.head()
display(data)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Collision Type Description,Weather Description,Illumination Description,...,HarmfulDescriptions,ObjectId,Zip Code,RPA,Weather,IlluACCIDEmination,Collision Type,Reporting Officer,x,y
0,2008473471,7/14/2018 11:00:00 PM,2.0,2.0,0.0,NaN,N,ANGLE,NO ADVERSE CONDITIONS,NaN,...,NaN,1,37208.0,4525.0,1.0,1.0,4.0,225845.0,-9.664843e+06,4.323742e+06
1,2008787228,11/16/2018 9:33:00 AM,1.0,1.0,0.0,NaN,N,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,NO ADVERSE CONDITIONS,NaN,...,NaN,2,37203.0,5401.0,1.0,3.0,0.0,475881.0,-9.662645e+06,4.322558e+06
2,2009131786,2/19/2019 10:42:00 PM,1.0,1.0,0.0,NaN,N,HEAD-ON,NO ADVERSE CONDITIONS,NaN,...,NaN,3,37218.0,3235.0,1.0,1.0,2.0,562528.0,-9.674832e+06,4.329570e+06
3,2009418107,5/27/2019 9:00:00 PM,2.0,0.0,0.0,NaN,Y,REAR END,NO ADVERSE CONDITIONS,NaN,...,NaN,4,NaN,4311.0,1.0,1.0,1.0,571315.0,-9.659749e+06,4.323487e+06
4,20120135824,3/8/2021 6:05:00 PM,2.0,1.0,0.0,NaN,N,Front to Rear,CLEAR,DAYLIGHT,...,MOTOR VEHICLE IN TRANSPORT,5,37207.0,1863.0,21.0,1.0,11.0,473670.0,-9.659079e+06,4.328993e+06

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216117 entries, 0 to 216116
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident Number             216117 non-null  int64
 1   Date and Time               216117 non-null  object
 2   Number of Motor Vehicles    216113 non-null  float64
 3   Number of Injuries          216114 non-null  float64
 4   Number of Fatalities        216114 non-null  float64
 5   Property Damage             17640 non-null   object
 6   Hit and Run                 216103 non-null  object
 7   Collision Type Description  203143 non-null  object
 8   Weather Description         194653 non-null  object
 9   Illumination Description    202657 non-null  object
 10  Street Address              215881 non-null  object
 11  City                        216113 non-null  object
 12  State                       216113 non-null  object
 13  Precinct                    216007 non-null  object
 14  Lat                         216115 non-null  float64
 15  Long                        216115 non-null  float64
 16  HarmfulCodes                196872 non-null  object
 17  HarmfulDescriptions         194682 non-null  object
 18  ObjectId                    216117 non-null  int64
 19  Zip Code                    215974 non-null  float64
 20  RPA                         216012 non-null  float64
 21  Weather                     194653 non-null  float64
 22  IlluACCIDEmination          202661 non-null  float64
 23  Collision Type              203143 non-null  float64
 24  Reporting Officer           216102 non-null  float64
 25  x                           216115 non-null  float64
 26  y                           216115 non-null  float64
dtypes: float64(13), int64(2), object(12)
memory usage: 44.5+ MB

In [9]:
df.isnull().sum()

Accident Number                    0
Date and Time                      0
Number of Motor Vehicles           4
Number of Injuries                 3
Number of Fatalities               3
Property Damage               198477
Hit and Run                       14
Collision Type Description     12974
Weather Description            21464
Illumination Description       13460
Street Address                   236
City                               4
State                              4
Precinct                         110
Lat                                2
Long                               2
HarmfulCodes                   19245
HarmfulDescriptions            21435
ObjectId                           0
Zip Code                         143
RPA                              105
Weather                        21464
IlluACCIDEmination             13456
Collision Type                 12974
Reporting Officer                 15
x                                  2
y                                  2
dtype: int64

In [15]:
df.dropna(inplace=True)
df.isnull().sum()

Accident Number               0
Date and Time                 0
Number of Motor Vehicles      0
Number of Injuries            0
Number of Fatalities          0
Property Damage               0
Hit and Run                   0
Collision Type Description    0
Weather Description           0
Illumination Description      0
Street Address                0
City                          0
State                         0
Precinct                      0
Lat                           0
Long                          0
HarmfulCodes                  0
HarmfulDescriptions           0
ObjectId                      0
Zip Code                      0
RPA                           0
Weather                       0
IlluACCIDEmination            0
Collision Type                0
Reporting Officer             0
x                             0
y                             0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15675 entries, 10 to 216111
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Accident Number             15675 non-null  int64
 1   Date and Time               15675 non-null  datetime64[ns]
 2   Number of Motor Vehicles    15675 non-null  float64
 3   Number of Injuries          15675 non-null  float64
 4   Number of Fatalities        15675 non-null  float64
 5   Property Damage             15675 non-null  object
 6   Hit and Run                 15675 non-null  object
 7   Collision Type Description  15675 non-null  object
 8   Weather Description         15675 non-null  object
 9   Illumination Description    15675 non-null  object
 10  Street Address              15675 non-null  object
 11  City                        15675 non-null  object
 12  State                       15675 non-null  object
 13  Precinct                    15675 non-null  object
 14  Lat                         15675 non-null  float64
 15  Long                        15675 non-null  float64
 16  HarmfulCodes                15675 non-null  object
 17  HarmfulDescriptions         15675 non-null  object
 18  ObjectId                    15675 non-null  int64
 19  Zip Code                    15675 non-null  float64
 20  RPA                         15675 non-null  float64
 21  Weather                     15675 non-null  float64
 22  IlluACCIDEmination          15675 non-null  float64
 23  Collision Type              15675 non-null  float64
 24  Reporting Officer           15675 non-null  float64
 25  x                           15675 non-null  float64
 26  y                           15675 non-null  float64
dtypes: datetime64[ns](1), float64(13), int64(2), object(11)
memory usage: 3.3+ MB

In [ ]:
df['Date and Time'] = pd.to_datetime(df['Date and Time'], format='mixed')

In [24]:
df.duplicated().sum()
df.drop_duplicates(inplace = True)

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 90:
    df.drop(x, inplace = True)