In [1]:
import sqlite3

In [2]:
## Connection to DBs ##
connection= sqlite3.connect('example.db')
## Cursor ##
cursor=connection.cursor()

In [3]:
## Creating a table ##
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT
               )
''')

In [5]:
## commit the changes ##
connection.commit()

 ## closing the Connection ##
# Connection.close()

In [6]:
## insert some data ##
cursor.execute('''
INSERT INTO employees(name, age,department)
               VALUES ('Charlie', 34, 'Maths')
''')
connection.commit()

In [7]:
## query the data from sqlite3 ##
cursor.execute('SELECT * FROM employees')
rows= cursor.fetchall()

## print the query data ##
for row in rows:
    print(row)

(1, 'Okha', 34, 'Maths')
(2, 'Okha', 34, 'Maths')
(3, 'Okha', 34, 'Maths')
(4, 'Charlie', 34, 'Maths')

In [8]:
## update data in the table ##
cursor.execute('''
UPDATE employees
SET age=35 
WHERE name='Charlie'   
''')
connection.commit()

In [9]:
## query the data from sqlite3 ##
cursor.execute('SELECT * FROM employees')
rows= cursor.fetchall()

## print the query data ##
for row in rows:
    print(row)

(1, 'Okha', 34, 'Maths')
(2, 'Okha', 34, 'Maths')
(3, 'Okha', 34, 'Maths')
(4, 'Charlie', 35, 'Maths')

In [11]:
## Delete the data from table ##
cursor.execute('''
DELETE FROM employees 
WHERE name= 'Charlie'
''')
connection.commit()

In [12]:
## Working with sales data ##
import sqlite3

Connection= sqlite3.connect('sales_data.db')
cursor=Connection.cursor()

#Table#

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

# Insert data#
sales_data=[
    ('2025-01-01', 'Product1', 100, 'North'),
    ('2025-01-02', 'Product2', 200, 'South'),
    ('2025-01-03', 'Product1', 150, 'East'),
    ('2025-01-04', 'Product3', 250, 'West'),
    ('2025-01-05', 'Product2', 300, 'North')
]
cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
VALUES(?,?,?,?)
''', sales_data)
Connection.commit()

In [13]:
## Close the connection ##

Connection.close()